@import "tailwindcss";
:root {
  font-family: "Satoshi", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: #f1efef;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
}

.dcoration {
  font-style: italic;
}

.scroll-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}
